.AnalysisPage {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.AnalysisPageCenter {
    grid-column: 2;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.AnalysisPageLogContent {
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 25px;

    background-color: var(--main-white);

    border: 0.2px solid var(--border-shadow);
    border-radius: 8px;
    box-shadow: -6px -6px 16px var(--light-shadow), 6px 6px 16px var(--dark-shadow);
}

.AnalysisPageLogContentHeader {
    border-bottom: 0.5px solid gray;
}

.AnalysisPageResult {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: var(--main-white);

    border: 0.2px solid var(--border-shadow);
    border-radius: 8px;
    box-shadow: -6px -6px 16px var(--light-shadow), 6px 6px 16px var(--dark-shadow);
}

.AnalysisPageResultHeader {
    border-bottom: 0.5px solid gray;
}

.AnalysisPageScoreExplanationHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.AnalysisPageScoreHolder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.AnalysisPageScoreOuterCircle {
    height: 200px;
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(-45deg, var(--blue), var(--orange));
    animation: 6s rotate linear infinite;

    border: 0.2px solid var(--outer-circle-border);
    border-radius: 50%;
    box-shadow: -6px -6px 16px var(--light-shadow) inset, 6px 6px 16px var(--dark-shadow) inset;
}

.AnalysisPageScoreInnerCircle {
    height: 150px;
    width: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--main-white);
    animation: 6s anti-rotate linear infinite;

    border: 0.2px solid var(--border-shadow);
    border-radius: 50%;
    box-shadow: -6px -6px 16px var(--light-shadow), 6px 6px 16px var(--dark-shadow);
}

.AnalysisPageExplanation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes anti-rotate {
    from{transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}