.LoginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.LoginErrMsg {
    height: 10px;
    color: red;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.LoginTextInput {
    height: 40px;
    width: 45vw;
    text-align: center;

    background-color: rgba(240, 238, 239, 1.0);

    border: 0.2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: -6px -6px 16px rgba(255, 255, 255, 1.0) inset, 6px 6px 16px rgba(209, 205, 199, 1.0) inset;
}

.LoginSubmit {
    height: 50px;
    width: 25vw;
    margin-top: 15px;

    font-weight: bolder;

    background-color: rgba(240, 238, 239, 1.0);

    border: 0.2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: -6px -6px 16px rgba(255, 255, 255, 1.0), 6px 6px 16px rgba(209, 205, 199, 1.0);
}

.LoginSubmit:hover {
    cursor: pointer;

    box-shadow: -6px -6px 16px rgba(255, 255, 255, 1.0) inset, 6px 6px 16px rgba(209, 205, 199, 1.0) inset;
}