.UserDashboardLogsPage {
    display: grid;
    grid-template-columns: 3vw 21vw 74vw 4vw;
}

.UserDashboardLogsPageLogElements {
    grid-column: 3;

    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}