.DashboardLogElement {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 5fr 2fr 1fr;
    grid-template-rows: 150px;

    background-color: var(--main-white);

    border: 0.2px solid var(--border-shadow);
    border-radius: 8px;
    box-shadow: -6px -6px 16px var(--light-shadow), 6px 6px 16px var(--dark-shadow);
}

.DashboardLogElement:hover {
    cursor: pointer;
    box-shadow: -6px -6px 16px var(--light-shadow) inset, 6px 6px 16px var(--dark-shadow) inset;
}

.DashboardLogElementDate {
    grid-column: 2;

    display: flex;
    align-items: center;
    justify-content: left;
}

.DashboardLogElementTime {
    grid-column: 3;

    display: flex;
    align-items: center;
    justify-content: center;
}

.DashboardLogElementContent {
    grid-column: 4;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    overflow: hidden;
}

.DashboardLogElementAnalysisHolder {
    grid-column: 5;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.DashboardLogElementScoreOuterCircle {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 90px;
    width: 90px;

    background: linear-gradient(-45deg, var(--blue), var(--orange));
    animation: 6s rotate linear infinite;

    border-radius: 50%;
    border: 0.2px solid var(--outer-circle-border);
    box-shadow: -6px -6px 16px var(--light-shadow) inset, 6px 6px 16px var(--dark-shadow) inset;
}

.DashboardLogElementScoreInnerCircle {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
    width: 60px;

    background-color: var(--main-white);
    animation: 6s anti-rotate linear infinite;

    border-radius: 50%;
    border: 0.2px solid var(--border-shadow);
    box-shadow: -6px -6px 16px var(--light-shadow), 6px 6px 16px var(--dark-shadow);
}


@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes anti-rotate {
    from{transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}