.UserDashboardSelections {
    grid-column: 2;

    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 10px;

    width: fit-content;
    height: fit-content;

    background-color: rgba(240, 238, 239, 1.0);

    border: 0.2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: -6px -6px 16px rgba(255, 255, 255, 1.0), 6px 6px 16px rgba(209, 205, 199, 1.0);

    text-decoration: underline;

}

.UserDashboardSelectionsOption {
    color: black;
    font-weight: bolder;
    font-size: x-large;
}

.UserDashboardSelectionsOption:hover {
    color: gray;
}